Repository syossan27/obsidian-clip-summarize: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format-check, type-check

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{ts,js}"
      run: npm run lint
    format-check:
      glob: "*.{ts,js,json,md}"
      run: npm run format:check
    type-check:
      glob: "*.ts"
      run: npm run type-check

pre-push:
  parallel: true
  commands:
    lint:
      run: npm run lint
    format-check:
      run: npm run format:check
    type-check:
      run: npm run type-check
    build:
      run: npm run build

commit-msg:
  commands:
    conventional-commit:
      run: |
        COMMIT_MSG=$(cat {1})
        # コミットメッセージが conventional commits 形式かチェック（簡易版）
        if ! echo "$COMMIT_MSG" | grep -qE "^(feat|fix|docs|style|refactor|perf|test|chore|build|ci|revert)(\(.+\))?: .+"; then
          echo "エラー: コミットメッセージはConventional Commits形式で記述してください"
          echo "例: feat: 新機能を追加"
          echo "    fix: バグを修正"
          echo "    docs: ドキュメントを更新"
          exit 1
        fi

fix: add contents write permission to GitHub Actions workflow
  .github/workflows/release.yml
Due: none

chore: translate all Japanese text to English for international users
  manifest.json
  src/main.ts
  src/settings.ts
Due: lint, format-check, type-check

docs: translate README.md to English
  README.md
Due: format-check

chore: add .claude/ to .gitignore
  .claude/settings.local.json
  .gitignore
Due: format-check

chore: remove local development script
  scripts/deploy.sh
Due: none

Rename extension to 'Clip Summarize'
  manifest.json
Due: format-check

chore: update manifest.json
  manifest.json
Due: format-check

fix: replace innerHTML with Obsidian DOM API for security
  src/settings.ts
Due: lint, format-check, type-check

feat: add multi-language support and improve error handling
  package.json
  src/errors.ts
  src/i18n.ts
  src/main.ts
  src/settings.ts
  src/types.ts
Due: lint, format-check, type-check

fix: add eslint-disable comments for external API error handling
  src/errors.ts
  src/main.ts
  src/settings.ts
Due: lint, format-check, type-check

feat: improve watch folder configuration
  src/i18n.ts
  src/main.ts
Due: lint, format-check, type-check
